:root{
  --pad-offset: -8%;
}
*{
  box-sizing: border-box;
}
body{
  background:#66545e;
  font-family: sans-serif;
  margin:0;
  padding:0;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.container{
  max-width: 400px;
  margin:0;
  padding:0;
  width: 100%;
  position: relative;
  background-color:#b5b6e4;
  height: 60vh;
}
.canvas, .screen-bg{
  border-radius: 20px;
  margin:0;
  padding:0;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.screen-bg{
  background: #3e4943;
}
.controls{
  position: relative;
  max-width: 400px;
  margin:0;
  padding:0;
  background: #b5b6e4;
  width: 100%;

  height: 40vh;
}
.controls__pads{
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.pads{
  background: url('./svg/gamepad-cross-svgrepo-com.svg') no-repeat, #ccc;
  background-size: contain;
  background-position: center;
  width: 25%;
  height: 35%;
  border-radius: 50%;
}
.pads__pad--left, .pads__pad--right, .pads__pad--top, .pads__pad--bottom{
  position: absolute;
  height: 50%;
  width: 50%;
  background: 	#908a99;
}
.pads__pad--left{
  left:var(--pad-offset);
  top: 50%;
  transform: translate(0, -50%);
}
.pads__pad--right{
  right:var(--pad-offset);
  top: 50%;
  transform: translate(0, -50%);
}
.pads__pad--top{
  left: 50%;
  top: var(--pad-offset);
  transform: translate(-50%, 0);
}
.pads__pad--bottom{
  left: 50%;
  bottom: var(--pad-offset);
  transform: translate(-50%, 0);
}

.controls__btns{
  position: absolute;
  right: 10%;
  top: 40%;
  transform: translate(50%, -50%);
}
.btns{
  border-radius: 20px;
  background: #ccc;
  width: 25%;
  height: 20%;
  transform: rotate(-45deg);
}
.btns__btn--a, .btns__btn--b{
  position: absolute;
  height: 100%;
  width: 50%;
  background:	#dd2020;
  border-radius: 50%;
}
.btns__btn--a{
  left: var(--pad-offset)
}
.btns__btn--b{
  right: var(--pad-offset)
}
.controls__start-btn{
  height: 20%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.start-btn{
  font-size: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}   
.start-btn__icon{
  border-radius: 20px;
  height: 8px;
  width: 3rem;
  background:#666;
}

.ctrl-left, .ctrl-right{
  position: absolute;
  height: 100%;
  width: 100%;
  background:#4f43ae;
  border-radius: 50%;
}
.ctrl-right{
  background: #dd2020;
  bottom:0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150%;
  width: 120%;
}

.nipple .back{
  background: #ccc!important;
  opacity: 1!important;
}
.menu-container{
  z-index:200;
  text-align: center;
  color: #84d07d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  
  width: 300px;
  height: 300px;
}
.menu__title{
  color: #84d07d;
  font-size: 1.2rem;
  margin-bottom: 0rem;
}

.menu__items{
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.menu{
  justify-content: center;
  height: 100%;
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.menu__items__el{
  background: 	transparent;
  font-size: 1.2rem;
  margin: 0.25rem 0;
  color: #84d07d;
  border: 2px solid #84d07d;
  padding: 1rem;
  cursor: pointer;
  min-width: 150px;
}

.score{
  z-index: 1000;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  width: 60%;
  justify-content: space-between;
  color:#84d07d;
  font-weight: 700;
  font-size: 1.2rem;
}

.invisible{
  display:none;
}
@media(max-height: 500px) {
  .container{
    height: 100vh;
  }
}
@media(min-height: 700px) {

  .container{
    position: relative;
    margin-top:3rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 360;
    height: 375px;
  }
  .controls{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 50px;
    width: 360;
    height: 250px;
  }
}
@media(min-width: 900px) {

  .container{
    position: relative;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .controls{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 50px;
  }
}
